/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/uploads
/public/assets/admin/build
/public/assets/admin/dist
/public/assets/admin/plugins
/storage/*.key
/vendor
.env
.env.backup
.env.production
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
composer.lock
/.fleet
/.idea
/.osp
/.vscode
